<!-- Modal Backdrop -->
<div 
  *ngIf="modal().show" 
  class="pk-modal-backdrop"
  [class.pk-modal-full-backdrop]="modal().config?.size === 'full'"
  (click)="onBackdropClick()"
  (keydown.escape)="close()"
  tabindex="0"
  [@fadeAnimation]>    <!-- Modal Container -->
  <div 
    class="pk-modal" 
    [class]="getModalSizeClass(modal().config?.size)"
    (click)="onModalClick($event)"
    (keydown)="$event.stopPropagation()"
    [@slideAnimation]
    role="dialog"
    aria-modal="true"
    tabindex="-1">
    
    <!-- Modal Header -->
    <div class="pk-modal-header">
      <h2 class="pk-modal-title">{{ modal().config?.title }}</h2>
      <button 
        class="pk-modal-close"
        (click)="close()"
        aria-label="Close modal">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2.5">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </button>
    </div>
    
    <!-- Modal Body -->
    <div class="pk-modal-body">
      <ng-container *ngIf="modal().config?.content">
        <div [innerHTML]="modal().config?.content"></div>
      </ng-container>
      <ng-content></ng-content>
    </div>
    
    <!-- Modal Footer -->
    <div class="pk-modal-footer">
      <ng-container *ngIf="modal().config?.footerContent">
        <div [innerHTML]="modal().config?.footerContent"></div>
      </ng-container>
      <ng-content select="[modal-footer]"></ng-content>
    </div>
  </div>
</div>
